# Using helper functions here provided by direnv https://direnv.net/
# add vendor dirs to PATH
layout php
layout node

# set up local php version
export PHPENV_VERSION="7.0.29"
export COMPOSER_HOME="$HOME/.phpenv/versions/${PHPENV_VERSION}/composer"
export CGR_COMPOSER_PATH="$HOME/.phpenv/shims/composer"
export CGR_BASE_DIR="$HOME/.phpenv/versions/${PHPENV_VERSION}/composer/global"
export CGR_BIN_DIR="$HOME/.phpenv/versions/${PHPENV_VERSION}/composer/vendor/bin"
