[mysql]
prompt = "\u@\h [\d]> "

[client]
host     = localhost
user     = root
# cool ncurses pager https://github.com/okbob/pspg
pager = pspg
# pager = grcat ~/.grcat | less -RSFXin
default-character-set = utf8
