# Using helper functions here provided by direnv https://direnv.net/
# saatchi command e.g. saatchi routes
PATH_add "./bin"
# PATH_add "$HOME/.phpenv/shims"

# add vendor dirs to PATH
layout php
layout node

export ASDF_PHP_VERSION="7.0.33"
export ASDF_NODEJS_VERSION="9.11.2"
# set up local php version
# export PHPENV_VERSION="7.0.33"
# export PHPENV_VERSION="7.3.2"
# export COMPOSER_HOME="$HOME/.phpenv/versions/${PHPENV_VERSION}/composer"
# export CGR_COMPOSER_PATH="$HOME/.phpenv/shims/composer"
# export CGR_BASE_DIR="$HOME/.phpenv/versions/${PHPENV_VERSION}/composer/global"
# export CGR_BIN_DIR="$HOME/.phpenv/versions/${PHPENV_VERSION}/composer/vendor/bin"

# export KUBECONFIG="$HOME/.kube-saatchi-qa/config"
# export KUBECONFIG="$HOME/.kube-saatchi-prod/config"
