# Using helper functions here provided by direnv https://direnv.net/
# add vendor dirs to PATH
layout php

# PATH_add "$HOME/.phpenv/shims"
PATH_add "./vendor/bin"

# set up local php version
export PHPENV_VERSION="7.0.29"
# export PHPENV_VERSION="7.3.2"
export COMPOSER_HOME="$HOME/.phpenv/versions/${PHPENV_VERSION}/composer"
export CGR_COMPOSER_PATH="$HOME/.phpenv/shims/composer"
export CGR_BASE_DIR="$HOME/.phpenv/versions/${PHPENV_VERSION}/composer/global"
export CGR_BIN_DIR="$HOME/.phpenv/versions/${PHPENV_VERSION}/composer/vendor/bin"
# export PHONY="$(eval phpenv init -)"

# codespell --skip="tags,vendor,.git,coverage,build"
